.venv/
__pycache__/
*.py[cod]

logs/*
!logs/mute/
!logs/mute/**

assets/hubert/*.pt
assets/rmvpe/*.pt
assets/pretrained/*.pth
assets/pretrained_v2/*.pth
assets/weights/*.pth
assets/indices/*.index

*.wav
*.flac
*.mp3
*.m4a
*.npy
!logs/mute/**/*.wav
!logs/mute/**/*.npy
