absl-py==2.4.0
audioread==3.1.0
av==17.0.1
colorama==0.4.6
Cython==3.2.5
fairseq==0.12.2
faiss-cpu==1.7.3
ffmpeg-python==0.2.0
joblib==1.5.3
librosa==0.9.1
llvmlite==0.39.0
matplotlib==3.7.5
matplotlib-inline==0.2.2
numba==0.56.4
numpy==1.23.5
Pillow==12.2.0
pip==26.1.1
praat-parselmouth==0.4.7
pydub==0.25.1
python-dotenv==1.2.2
pyworld==0.3.2
PyYAML==6.0.3
resampy==0.4.3
scikit-learn==1.7.2
scipy==1.15.3
setuptools==80.10.2
soundfile==0.13.1
sympy==1.13.1
tabulate==0.10.0
tensorboard==2.20.0
tensorboardX==2.6.5
torch==2.5.0
torchaudio==2.5.0
torchcrepe==0.0.20
tqdm==4.67.3
Werkzeug==3.1.8
